{% extends 'base.html' %}
{% block doc_title %}Verify Email{% endblock %}
{% block content %}
<section class="login-page section-space">
    <div class="container">
        <h2>Email Verification</h2>
        <form method="post" action="{% url 'accounts:verify_email' %}" class="form-one">
            {% csrf_token %}
            {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
            <div class="login-page__group">
                <div class="login-page__input-box">
                    <input type="text" name="code" placeholder="Enter OTP" required />
                </div>
                <div class="login-page__input-box">
                    <button type="submit" class="gotur-btn">Verify</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
