<!DOCTYPE html>
<html lang="en-IN">
{% load static %}

<head>
    <meta charset="utf-8" />
    <link rel="canonical" href="http://holytrail.in" />
    <title>Holy Dham Packages – Plan Your Trip with Holytrail</title>
    <meta name="description"
        content="Discover fully customizable Holy Dhamas holidays crafted to suit your travel style and budget. Enjoy curated experiences, flexible plans, and memorable getaways to top global destinations." />
    <meta name="keywords" content="Customized tour packages, package holidays" />
    <meta property="og:url" content="http://holytrail.in" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta property="og:title" content="Custom Holy Dham Holiday Packages – Plan Your Trip with Holytrail" />
    <meta property="og:description"
        content="Discover fully customizable Dham Holidays crafted to suit your travel style and budget. Enjoy curated experiences, flexible plans, and memorable getaways to top  destinations." />
    <meta property="og:image" content="" />
    <link rel="alternate" href="http://holytrail.in" hreflang="en-IN" />
    <link rel="alternate" href="http://holytrail.in" hreflang="en-AE" />
    <link rel="alternate" href="http://holytrail.in" hreflang="en-US" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <script defer="" type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "http://holytrail.in",
        "logo": "{% static 'holy_logo.png'%}",
        "sameAs": [
          "https://www.facebook.com/pg/holytrail/reviews/",
          "https://instagram.com/holytrail",
          "https://twitter.com/@pholytrail",
          "https://in.linkedin.com/holytrail"
        ]
      }
    </script>
    <link rel="preload" as="image"
        imagesrcset="https://images.pickyourtrail.com/austria_min_3bcfd0c970.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 1x, https://images.pickyourtrail.com/austria_min_3bcfd0c970.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 2x" />
    <link rel="preload" as="image"
        imagesrcset="https://images.pickyourtrail.com/finland_min_6b2b83ba7b.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 1x, https://images.pickyourtrail.com/finland_min_6b2b83ba7b.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 2x" />
    <link rel="preload" as="image"
        imagesrcset="https://images.pickyourtrail.com/norway_min_b6c1dbb1da.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 1x, https://images.pickyourtrail.com/norway_min_b6c1dbb1da.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 2x" />
    <link rel="preload" as="image"
        imagesrcset="https://images.pickyourtrail.com/italy_min_6b0dbc2ad0.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 1x, https://images.pickyourtrail.com/italy_min_6b0dbc2ad0.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 2x" />
    <link rel="preload" as="image"
        imagesrcset="https://images.pickyourtrail.com/switzerland_min_523a70365c.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 1x, https://images.pickyourtrail.com/switzerland_min_523a70365c.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 2x" />
    <link rel="preload" as="image"
        imagesrcset="https://images.pickyourtrail.com/france_min_3510647d1e.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 1x, https://images.pickyourtrail.com/france_min_3510647d1e.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 2x" />
    <link rel="preload" as="image"
        imagesrcset="https://images.pickyourtrail.com/uk_min_32ffe790a9.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 1x, https://images.pickyourtrail.com/uk_min_32ffe790a9.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 2x" />
    <link rel="preload" as="image"
        imagesrcset="https://images.pickyourtrail.com/spain_min_b811280a6a.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 1x, https://images.pickyourtrail.com/spain_min_b811280a6a.png?w=33&amp;h=33&amp;blur=2&amp;dpr=1&amp;q=10 2x" />
    <link rel="preload" as="image"
        imagesrcset="https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/celebrity-youtube.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 320w, https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/celebrity-youtube.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 420w, https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/celebrity-youtube.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 768w, https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/celebrity-youtube.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 1024w, https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/celebrity-youtube.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 1200w"
        imagesizes="100vw" />
    <link rel="preload" as="image"
        imagesrcset="https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/testimonial-card.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 320w, https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/testimonial-card.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 420w, https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/testimonial-card.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 768w, https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/testimonial-card.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 1024w, https://pickyourtrail-video.gumlet.io/media/videos/home/two-coloumn-comp/testimonial-card.mp4?time=1&amp;w=0&amp;h=0&amp;blur=2 1200w"
        imagesizes="100vw" />
    <meta name="next-head-count" content="26" />
    <link rel="preconnect" href="https://images.pickyourtrail.com" />
    <link rel="preconnect" href="https://pickydourtrail-video.gumlet.io" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">

    <meta name="format-detection" content="telephone=yes" />
    <link rel="preload" href="{% static 'media/3534416bbfdcc9be.p.woff2' %}" as="font" type="font/woff2"
        crossorigin="anonymous" />
    <link rel="preload" href="{% static 'media/436428a677fd0906.p.woff2' %}" as="font" type="font/woff2"
        crossorigin="anonymous" />
    <link rel="preload" href="{% static 'media/9763e213c517a662.p.woff2' %}" as="font" type="font/woff2"
        crossorigin="anonymous" />
    <link rel="preload" href="{% static 'media/13e2c9d7c290c0de.p.woff2' %}" as="font" type="font/woff2"
        crossorigin="anonymous" />
    <link rel="preload" href="{% static 'media/c6d4451b49ea2d26.p.woff2' %}" as="font" type="font/woff2"
        crossorigin="anonymous" />
    <link rel="preload" href="{% static 'media/3c471406fb25ad66.p.woff' %}" as="font" type="font/woff"
        crossorigin="anonymous" />
    <link rel="preload" href="{% static 'media/ff9dc931e86e926a.p.woff' %}" as="font" type="font/woff"
        crossorigin="anonymous" />
    <link rel="preload" href="{% static 'css/5307f78488cf4eed.css' %}" as="style" />
    <link rel="stylesheet" href="{% static 'css/5307f78488cf4eed.css' %}" data-n-g="" />
    <noscript data-n-css=""></noscript>
    <!--
    <script defer="" nomodule="" src="{% static 'js/polyfills-c67a75d1b6f99dc8.js' %}"></script>
    <script defer="" src="{% static 'js/585-b8f8633112e1163e.js' %}"></script>
    <script defer="" src="{% static 'js/4598-c7231d10208bf804.js' %}"></script>
    <script defer="" src="{% static 'js/7246e43d38f82023.js' %}"></script>
    <script defer="" src="{% static 'js/bf4b9445c55e4521.js' %}"></script>
    <script defer="" src="{% static 'js/5ad406a25362c5b5.js' %}"></script>
    <script defer="" src="{% static 'js/c35d08be04fceb01.js' %}"></script>
    <script defer="" src="{% static 'js/4cb7525c4d6b6caf.js' %}"></script>
    <script defer="" src="{% static 'js/36b51f2e9624c8ce.js' %}"></script>
    <script defer="" src="{% static 'js/8eb6872db08778a7.js' %}"></script>
    <script defer="" src="{% static 'js/2191555b46ac1f7c.js' %}"></script>
    <script src="{% static 'js/webpack-c2a3e1692c4151ca.js' %}" defer=""></script>
    <script src="{% static 'js/framework-1f1fb5c07f2be279.js' %}" defer=""></script>
    <script src="{% static 'js/main-36d89c5adf694986.js' %}" defer=""></script>
    <script src="{% static 'js/app-5fcf8cf30c927db1.js' %}" defer=""></script>
    <script src="{% static 'js/75fc9c18-2cc04cd5a8e46304.js' %}" defer=""></script>
    <script src="{% static 'js/ea88be26-48f810fdcfa45ac3.js' %}" defer=""></script>
    <script src="{% static 'js/5675-dc31635423b4bfb3.js' %}" defer=""></script>
    <script src="{% static 'js/1664-b1a18b16f85ca774.js' %}" defer=""></script>
    <script src="{% static 'js/102-d59168dac21bc578.js' %}" defer=""></script>
    <script src="{% static 'js/8284-7bcea48a8a7275a5.js' %}" defer=""></script>
    <script src="{% static 'js/2004-10cd3b6c111d99fb.js' %}" defer=""></script>
    <script src="{% static 'js/7536-22833891b53238c1.js' %}" defer=""></script>
    <script src="{% static 'js/3760-8d16ab25cc4a4208.js' %}" defer=""></script>
    <script src="{% static 'js/4361-1de16817ae75bbad.js' %}" defer=""></script>
    <script src="{% static 'js/6515-d19d0d2d67ecd4c4.js' %}" defer=""></script>
    <script src="{% static 'js/1458-e9d34256b9c8f907.js' %}" defer=""></script>
    <script src="{% static 'js/5901-a72ad988052cc14a.js' %}" defer=""></script>
    <script src="{% static 'js/9415-bbcb7febd0c3c452.js' %}" defer=""></script>
    <script src="{% static 'js/5946-44ca719e0b721a6d.js' %}" defer=""></script>
    <script src="{% static 'js/3811-39d0fe349a672827.js' %}" defer=""></script>
    <script src="{% static 'js/5958-6dc721c31f7bc278.js'%}" defer=""></script>
    <script src="{% static 'js/3983-a7e6e9121306fc99.js' %}" defer=""></script>
    <script src="{% static 'js/index-b48a361c1864a334.js' %}" defer=""></script>
    <script src="{% static 'js/buildManifest.js' %}" defer=""></script>
    <script src="{% static 'js/ssgManifest.js' %}" defer=""></script>
-->
    <script defer="" src="{% static 'js/2191555b46ac1f7c.js' %}"></script>
    
    <script src="{% static 'js/webpack-c2a3e1692c4151ca.js' %}" defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/framework-1f1fb5c07f2be279.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/main-36d89c5adf694986.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/pages/_app-5fcf8cf30c927db1.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/75fc9c18-2cc04cd5a8e46304.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/ea88be26-48f810fdcfa45ac3.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/5675-dc31635423b4bfb3.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/1664-b1a18b16f85ca774.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/102-d59168dac21bc578.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/8284-7bcea48a8a7275a5.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/2004-10cd3b6c111d99fb.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/7536-22833891b53238c1.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/3760-8d16ab25cc4a4208.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/4361-1de16817ae75bbad.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/6515-d19d0d2d67ecd4c4.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/1458-e9d34256b9c8f907.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/5901-a72ad988052cc14a.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/9415-bbcb7febd0c3c452.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/5946-44ca719e0b721a6d.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/3811-39d0fe349a672827.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/5958-6dc721c31f7bc278.js"
        defer=""></script>
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/3983-a7e6e9121306fc99.js"
        defer=""></script>
        
    <script
        src="https://cdn2.pickyourtrail.com/images/assets/veho-web/250516486/_next/static/chunks/pages/index-b48a361c1864a334.js"
        defer=""></script>
    

</head>

<body data-node-env="production" style="display: block; margin: 0">
    {% block content %} {% endblock %}
</body>

</html>