{% extends 'base.html' %}
{% load static %}
{% block doc_title %}Cancellation and Refund{% endblock %}
{% block content %}
<section class="page-header">
    <div class="container">
        <div class="page-header__content">
            <h2 class="page-header__title">Cancellation &amp; Refund Policy</h2>
        </div>
    </div>
</section>
<section class="section-space">
    <div class="container">
        <p>Last updated on Huly 12th, 20245</p>
        <p>Holytrail believes in helping its customers as far as possible and has therefore adopted a liberal cancellation policy. Under this policy:</p>
        <h3>Cancellation Requests:</h3>
        <p>Cancellations will be considered only if the request is made within 2-3 days of placing the order.</p>
        <p>Cancellation requests may not be entertained if the orders have already been communicated to the vendors/merchants and they have initiated the shipping process</p>
        <h3>Refund Processing:</h3>
        <p>In case of any refunds approved by VINATAY SKYTECH PRIVATE LIMITED, the refund will be processed within 3-4 days.</p>
        <p>The refund will be made using the same payment method used by the customer:</p>
        <ul>
            <li>If paid via credit card, the amount will be reversed to the respective credit card account.</li>
            <li>If paid via direct bank transfer, the refund will be processed through bank transfer.</li>
            <li>If paid via UPI, the refund will be made using the UPI mode.</li>
        </ul>
    </div>
</section>
{% endblock %}
