{% extends 'base.html' %}
{% load static %}
{% block doc_title %}Subscribe{% endblock %}
{% block content %}
  
    <br>
    <br>
    <br>
    <br>
   
    <br>
    <br>
    <img src="{% static 'images/HolytrailYS.png' %}" alt="Subscribe" sizes="(100vw)" style="width: 100%; max-width: 600px; height: auto; margin-left: 20px; margin-bottom: 20px;">
    <form id="payment-form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="razorpay_order_id" value="{{ razorpay_order_id }}">
        <button id="pay-button" type="button">Pay</button>
    </form>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            key: '{{ razorpay_key_id }}',
            order_id: '{{ razorpay_order_id }}',
            name: 'Holytrail Subscription',
            description: 'Annual subscription',
            handler: function (response) {
                var form = document.getElementById('payment-form');
                form.action = '{% url "accounts:verify_subscription_payment" %}';
                var pid = document.createElement('input');
                pid.type = 'hidden';
                pid.name = 'razorpay_payment_id';
                pid.value = response.razorpay_payment_id;
                form.appendChild(pid);
                var sig = document.createElement('input');
                sig.type = 'hidden';
                sig.name = 'razorpay_signature';
                sig.value = response.razorpay_signature;
                form.appendChild(sig);
                form.submit();
            }
        };
        document.getElementById('pay-button').onclick = function(e){
            var rzp = new Razorpay(options);
            rzp.open();
            e.preventDefault();
        };
    </script>
{% endblock %}
