{% extends 'base.html' %}
{% load static %}
{% block doc_title %} Testimonials {% endblock %}
{% block content %}

        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg-1-1.jpg);"></div><!-- /.page-header__bg -->
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title bw-split-in-right">Testimonials</h2>
                    <ul class="gotur-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>Testimonials</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="testimonial-page section-space">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-lg-6 col-md-6">
                        <div class="testimonials-two-card testimonials-two-card--two  wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="testimonials-two-card__inner">
                                <div class="testimonials-two-card__top">
                                    <img src="assets/images/resources/testimonials-2-1.png" alt="testiomonials author">
                                </div><!-- /.testimonials-two-card__top -->
                                <div class="testimonials-two-card__content testimonials-two-card__content--two">
                                    <div class="testimonials-two-card__author">
                                        <h4 class="testimonials-two-card__author__name">Courtney Henry</h4><!-- /.testimonials-two-card__author__name -->
                                        <p class="testimonials-two-card__author__dec">Marketing Coordinator</p><!-- /.testimonials-two-card__author__dec -->
                                    </div><!-- /.testimonials-two-card__author -->
                                    <p class="testimonials-two-card__text">Consectetur adipiscing elit. Integer nunc viverra laoreet est the is porta pretium metus aliquam eget maecenas porta is nunc viverra Aenean pulvinar maximus leo</p><!-- /.testimonials-two-card__text -->
                                </div><!-- /.testimonials-two-card__content -->
                                <div class="testimonials-two-card__star testimonials-two-card__star--two">
                                    <div class="testimonials-two-card__star__item">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div><!-- /.testimonials-two-card__star__item -->
                                </div><!-- /.testimonials-two-card__star -->
                                <div class="testimonials-two-card__quite">
                                    <i class="icon-straight-quotes"></i>
                                </div><!-- /.testimonials-two-card__quite -->
                            </div><!-- /.testimonials-two-card__inner -->
                        </div><!-- /.testimonials-two-card -->
                    </div><!-- /.col-lg-6 col-md-6 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="testimonials-two-card testimonials-two-card--two  wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="testimonials-two-card__inner">
                                <div class="testimonials-two-card__top">
                                    <img src="assets/images/resources/testimonials-2-2.png" alt="testiomonials author">
                                </div><!-- /.testimonials-two-card__top -->
                                <div class="testimonials-two-card__content testimonials-two-card__content--two">
                                    <div class="testimonials-two-card__author">
                                        <h4 class="testimonials-two-card__author__name">Jacob Jones</h4><!-- /.testimonials-two-card__author__name -->
                                        <p class="testimonials-two-card__author__dec">Web Designer</p><!-- /.testimonials-two-card__author__dec -->
                                    </div><!-- /.testimonials-two-card__author -->
                                    <p class="testimonials-two-card__text">Consectetur adipiscing elit. Integer nunc viverra laoreet est the is porta pretium metus aliquam eget maecenas porta is nunc viverra Aenean pulvinar maximus leo</p><!-- /.testimonials-two-card__text -->
                                </div><!-- /.testimonials-two-card__content -->
                                <div class="testimonials-two-card__star testimonials-two-card__star--two">
                                    <div class="testimonials-two-card__star__item">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div><!-- /.testimonials-two-card__star__item -->
                                </div><!-- /.testimonials-two-card__star -->
                                <div class="testimonials-two-card__quite">
                                    <i class="icon-straight-quotes"></i>
                                </div><!-- /.testimonials-two-card__quite -->
                            </div><!-- /.testimonials-two-card__inner -->
                        </div><!-- /.testimonials-two-card -->
                    </div><!-- /.col-lg-6 col-md-6 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="testimonials-two-card testimonials-two-card--two  wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="testimonials-two-card__inner">
                                <div class="testimonials-two-card__top">
                                    <img src="assets/images/resources/testimonials-2-1.png" alt="testiomonials author">
                                </div><!-- /.testimonials-two-card__top -->
                                <div class="testimonials-two-card__content testimonials-two-card__content--two">
                                    <div class="testimonials-two-card__author">
                                        <h4 class="testimonials-two-card__author__name">Courtney Henry</h4><!-- /.testimonials-two-card__author__name -->
                                        <p class="testimonials-two-card__author__dec">Marketing Coordinator</p><!-- /.testimonials-two-card__author__dec -->
                                    </div><!-- /.testimonials-two-card__author -->
                                    <p class="testimonials-two-card__text">Consectetur adipiscing elit. Integer nunc viverra laoreet est the is porta pretium metus aliquam eget maecenas porta is nunc viverra Aenean pulvinar maximus leo</p><!-- /.testimonials-two-card__text -->
                                </div><!-- /.testimonials-two-card__content -->
                                <div class="testimonials-two-card__star testimonials-two-card__star--two">
                                    <div class="testimonials-two-card__star__item">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div><!-- /.testimonials-two-card__star__item -->
                                </div><!-- /.testimonials-two-card__star -->
                                <div class="testimonials-two-card__quite">
                                    <i class="icon-straight-quotes"></i>
                                </div><!-- /.testimonials-two-card__quite -->
                            </div><!-- /.testimonials-two-card__inner -->
                        </div><!-- /.testimonials-two-card -->
                    </div><!-- /.col-lg-6 col-md-6 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="testimonials-two-card testimonials-two-card--two  wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="testimonials-two-card__inner">
                                <div class="testimonials-two-card__top">
                                    <img src="assets/images/resources/testimonials-2-2.png" alt="testiomonials author">
                                </div><!-- /.testimonials-two-card__top -->
                                <div class="testimonials-two-card__content testimonials-two-card__content--two">
                                    <div class="testimonials-two-card__author">
                                        <h4 class="testimonials-two-card__author__name">Jacob Jones</h4><!-- /.testimonials-two-card__author__name -->
                                        <p class="testimonials-two-card__author__dec">Web Designer</p><!-- /.testimonials-two-card__author__dec -->
                                    </div><!-- /.testimonials-two-card__author -->
                                    <p class="testimonials-two-card__text">Consectetur adipiscing elit. Integer nunc viverra laoreet est the is porta pretium metus aliquam eget maecenas porta is nunc viverra Aenean pulvinar maximus leo</p><!-- /.testimonials-two-card__text -->
                                </div><!-- /.testimonials-two-card__content -->
                                <div class="testimonials-two-card__star testimonials-two-card__star--two">
                                    <div class="testimonials-two-card__star__item">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div><!-- /.testimonials-two-card__star__item -->
                                </div><!-- /.testimonials-two-card__star -->
                                <div class="testimonials-two-card__quite">
                                    <i class="icon-straight-quotes"></i>
                                </div><!-- /.testimonials-two-card__quite -->
                            </div><!-- /.testimonials-two-card__inner -->
                        </div><!-- /.testimonials-two-card -->
                    </div><!-- /.col-lg-6 col-md-6 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="testimonials-two-card testimonials-two-card--two  wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="testimonials-two-card__inner">
                                <div class="testimonials-two-card__top">
                                    <img src="assets/images/resources/testimonials-2-1.png" alt="testiomonials author">
                                </div><!-- /.testimonials-two-card__top -->
                                <div class="testimonials-two-card__content testimonials-two-card__content--two">
                                    <div class="testimonials-two-card__author">
                                        <h4 class="testimonials-two-card__author__name">Courtney Henry</h4><!-- /.testimonials-two-card__author__name -->
                                        <p class="testimonials-two-card__author__dec">Marketing Coordinator</p><!-- /.testimonials-two-card__author__dec -->
                                    </div><!-- /.testimonials-two-card__author -->
                                    <p class="testimonials-two-card__text">Consectetur adipiscing elit. Integer nunc viverra laoreet est the is porta pretium metus aliquam eget maecenas porta is nunc viverra Aenean pulvinar maximus leo</p><!-- /.testimonials-two-card__text -->
                                </div><!-- /.testimonials-two-card__content -->
                                <div class="testimonials-two-card__star testimonials-two-card__star--two">
                                    <div class="testimonials-two-card__star__item">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div><!-- /.testimonials-two-card__star__item -->
                                </div><!-- /.testimonials-two-card__star -->
                                <div class="testimonials-two-card__quite">
                                    <i class="icon-straight-quotes"></i>
                                </div><!-- /.testimonials-two-card__quite -->
                            </div><!-- /.testimonials-two-card__inner -->
                        </div><!-- /.testimonials-two-card -->
                    </div><!-- /.col-lg-6 col-md-6 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="testimonials-two-card testimonials-two-card--two  wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="testimonials-two-card__inner">
                                <div class="testimonials-two-card__top">
                                    <img src="assets/images/resources/testimonials-2-2.png" alt="testiomonials author">
                                </div><!-- /.testimonials-two-card__top -->
                                <div class="testimonials-two-card__content testimonials-two-card__content--two">
                                    <div class="testimonials-two-card__author">
                                        <h4 class="testimonials-two-card__author__name">Jacob Jones</h4><!-- /.testimonials-two-card__author__name -->
                                        <p class="testimonials-two-card__author__dec">Web Designer</p><!-- /.testimonials-two-card__author__dec -->
                                    </div><!-- /.testimonials-two-card__author -->
                                    <p class="testimonials-two-card__text">Consectetur adipiscing elit. Integer nunc viverra laoreet est the is porta pretium metus aliquam eget maecenas porta is nunc viverra Aenean pulvinar maximus leo</p><!-- /.testimonials-two-card__text -->
                                </div><!-- /.testimonials-two-card__content -->
                                <div class="testimonials-two-card__star testimonials-two-card__star--two">
                                    <div class="testimonials-two-card__star__item">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div><!-- /.testimonials-two-card__star__item -->
                                </div><!-- /.testimonials-two-card__star -->
                                <div class="testimonials-two-card__quite">
                                    <i class="icon-straight-quotes"></i>
                                </div><!-- /.testimonials-two-card__quite -->
                            </div><!-- /.testimonials-two-card__inner -->
                        </div><!-- /.testimonials-two-card -->
                    </div><!-- /.col-lg-6 col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.team-page -->

       {% endblock %}